DB_HOST = DIRECCION DE HOSTEO
DB_NAME = NOMBRE DE LA BASE DE DATOS
DB_USER = USUARIO DE LA BASE DE DATOS
DB_PASSWORD = CONTRASEÑA DE LA BASE DE DATOS
DB_PORT = NUMERO DE PUERTO DE LA BASE DE DATOS

PORT = PUERTO DONDE INICIA EL SERVIDOR
SECRET = CLAVE PARA VERIFICACIONES